#cornice
{
    background-color: black; 
    width: 100%; 
    height: 100%;
    color: white; 
    position: relative;
    padding-left: 3px;
    padding-top: 3px;
}

.rettangolo
{
    position: absolute;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px black;
}

.titolo, .titolo2
{
    font-size: 1.2rem;
    padding-left: 10px;
}

.titolo2
{

    font-weight: bold;
}


html, body 
{
    margin: 0; 
    height: 100%; 
    overflow: hidden
}